<div>
    <div>
        <a href="/update/{{id}}"><button id="edit-post">Edit Post</button></a>
    </div>
    <div>
        <button id="delete-button" data-id="{{id}}">DELETE</button>
    </div>
    <div>
        <p>Posted By: {{user.username}}</p>
        <p>{{format_date date_created}}</p>
        <p>{{title}}</p>
        <p>{{description}}</p>
    </div>
</div>
<div>
    <p>
        {{comment}}
    </p>
</div>
<div>
    <form id="comment-form">
        <label for="comment">Leave a Comment:</label>
        <input type="text" id="comment" />
    </form>
    <button type="submit" id="comment-button" data-id="{{id}}">Comment</button>
</div>

<script src="/js/delete.js"></script>
<script src="/js/comment.js"></script>