<div>
    <a href="/update/{{id}}"><button id="edit-post">Edit Post</button></a>
</div>
<div>
    <p>Posted By: {{User.name}}</p>
    <p>{{date_created}}</p>
    <p>{{title}}</p>
    <p>{{description}}</p>
</div>
<div>
    <button id="delete-button" data-id="{{id}}">DELETE</button>
</div>

<script src="/js/delete.js"></script>