<div>
    <div>
        <p>testing testing testing 1 2 3</p>
    </div>

    <div>
        <div>
            {{#each blogposts}}
            <div class="blog-post">
                {{#if ../logged_in}}
                <h2><a href="/blogposts/{{id}}">{{title}}</a></h2>
                {{else}}
                <h2>{{title}}</h2>
                {{/if}}
                <p>{{description}}</p>
                <p>Posted by: {{user.username}}</p>
                <p>{{format_date date_created}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>