<div>
    <div>
        {{#each blogposts}}
        <div class="blog-post container-lg">
            {{#if ../logged_in}}
            <div class="container-md">
                <h2 class="blog-post-title"><a href="/blogposts/{{id}}">{{title}}</a></h2>
                <h2 class="blog-post-info blog-post-user">Posted by: {{user.username}} on {{format_date date_created}}
                </h2>
            </div>
            {{else}}
            <div class="container-md">
                <h2 class="blog-post-title">{{title}}</h2>
                <h2 class="blog-post-info blog-post-user">Posted by: {{user.username}} on {{format_date date_created}}
                </h2>
            </div>
            {{/if}}
            <div class="container-md">
                <p>{{description}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>